<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>62222524195-469da0edp0irvugp4q167da5d69sj5r3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.62222524195-469da0edp0irvugp4q167da5d69sj5r3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>62222524195-lauvs677achelnnuvv99u0u4k67tum3a.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAupfeWM5K1Q_3AoOWfGeGb6IIT2ZCLj6E</string>
	<key>GCM_SENDER_ID</key>
	<string>62222524195</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bizyCenter2</string>
	<key>PROJECT_ID</key>
	<string>bizycenter2</string>
	<key>STORAGE_BUCKET</key>
	<string>bizycenter2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:62222524195:ios:498e24c4ec80f299113696</string>
</dict>
</plist>